* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Carattere';
  src: url('/assets/fonts/Carattere-Regular.ttf');
}

@font-face {
  font-family: 'Cookie';
  src: url('/assets/fonts/Cookie-Regular.ttf');
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}